body {
    background-color: #132d48;
}

.estrella {
    background-color: #fbfbfb;
    width: 18%;
    height: 240px;
    border-radius: 5%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 110px;
}